<div id="userbar">
	{{#if sessiondata.name}}
	<div id="userbar-left">
	<h1>Hi, {{sessiondata.name}}!</h1>
	</div>
	
	<div id="userbar-right">
		<form action="/session/logout" method="post">
    <button name="logout">Logout</button>
		</form>
	</div>
	{{else}}
	<div id="userbar-left">
		<h1>Log-in</h1>
	<div>
		<p>{{errormessage}}</p>
	</div>
	<form id="login-form" action="session/login" method="POST">
		<input name="username" type="text" placeholder="Username" required>
		<br>
		<input name="password" type="password" placeholder="Password" required>
		<br>
		<input type="submit" value="Submit">
	</form>
	</div>
	<br>
	<div id="userbar-right">
		<a href="users/new"><h2>SignUp</h2></a>
	</div>
{{/if}}
</div>
<div id="clearer"></div>
{{title}}
{{#each users}}
<div>
{{id}}
{{name}}
{{username}}
{{email}}
</div>
{{/each}}
